# This notebook is created a part of Coventry University's Machine Learning Coursework - 7072CEM
Dataset is accessible on https://www.kaggle.com/zynicide/wine-reviews

By Sunggu Choi

# K-Nearest Neighbors Regresstion

In [36]:
# Load required libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

import seaborn as sns
sns.set_theme(style="ticks", color_codes=True)

In [37]:
dataset = pd.read_csv('winemag_labeled.csv')
dataset.drop(['title_Cat'],axis=1)

,points,price,country_Cat,designation_Cat,province_Cat,region_1_Cat,region_2_Cat,taster_name_Cat,variety_Cat,winery_Cat
0,87,0.0,22,36806,331,424,11,9,690,11608
1,87,15.0,32,2325,108,792,11,16,450,12956
2,87,14.0,41,24511,268,1218,17,15,436,13018
3,87,13.0,41,27975,218,549,11,0,479,14390
4,87,65.0,41,36466,268,1218,17,15,440,14621
...,...,...,...,...,...,...,...,...,...,...
129966,90,28.0,17,4235,232,792,11,1,479,6643
129967,90,75.0,41,24511,268,787,10,15,440,4776
129968,90,30.0,15,17463,11,21,11,16,209,5929
129969,90,32.0,15,24511,11,21,11,16,436,6027
129970,90,21.0,15,20266,11,21,11,16,209,6144

### Check dataset data type

In [38]:
# 129971 rows and 10 feature inputs and 1 target output
dataset.shape

(129971, 11)

In [39]:
dataset_train = dataset.copy()

In [40]:
dataset.dtypes

points               int64
price              float64
country_Cat          int64
designation_Cat      int64
province_Cat         int64
region_1_Cat         int64
region_2_Cat         int64
taster_name_Cat      int64
title_Cat            int64
variety_Cat          int64
winery_Cat           int64
dtype: object

In [41]:
dataset

,points,price,country_Cat,designation_Cat,province_Cat,region_1_Cat,region_2_Cat,taster_name_Cat,title_Cat,variety_Cat,winery_Cat
0,87,0.0,22,36806,331,424,11,9,79521,690,11608
1,87,15.0,32,2325,108,792,11,16,89368,450,12956
2,87,14.0,41,24511,268,1218,17,15,89782,436,13018
3,87,13.0,41,27975,218,549,11,0,100878,479,14390
4,87,65.0,41,36466,268,1218,17,15,102810,440,14621
...,...,...,...,...,...,...,...,...,...,...,...
129966,90,28.0,17,4235,232,792,11,1,40616,479,6643
129967,90,75.0,41,24511,268,787,10,15,28950,440,4776
129968,90,30.0,15,17463,11,21,11,16,36534,209,5929
129969,90,32.0,15,24511,11,21,11,16,37083,436,6027
129970,90,21.0,15,20266,11,21,11,16,37742,209,6144

### Spliting dataset into train and test

In [42]:
X = dataset_train.drop('price', axis=1)
y = dataset_train['price']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [43]:
X

,points,country_Cat,designation_Cat,province_Cat,region_1_Cat,region_2_Cat,taster_name_Cat,title_Cat,variety_Cat,winery_Cat
0,87,22,36806,331,424,11,9,79521,690,11608
1,87,32,2325,108,792,11,16,89368,450,12956
2,87,41,24511,268,1218,17,15,89782,436,13018
3,87,41,27975,218,549,11,0,100878,479,14390
4,87,41,36466,268,1218,17,15,102810,440,14621
...,...,...,...,...,...,...,...,...,...,...
129966,90,17,4235,232,792,11,1,40616,479,6643
129967,90,41,24511,268,787,10,15,28950,440,4776
129968,90,15,17463,11,21,11,16,36534,209,5929
129969,90,15,24511,11,21,11,16,37083,436,6027
129970,90,15,20266,11,21,11,16,37742,209,6144

In [44]:
y

0          0.0
1         15.0
2         14.0
3         13.0
4         65.0
          ...
129966    28.0
129967    75.0
129968    30.0
129969    32.0
129970    21.0
Name: price, Length: 129971, dtype: float64

### K-NN

In [45]:
# Construct pipeline
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler

In [46]:
knnregr= Pipeline([
     ('scaler', StandardScaler()),
     ('normalize', Normalizer()),
     ('regressor' , KNeighborsRegressor())
      ])

knnregr.fit(X_train, y_train)
y_pred = knnregr.predict(X_test)

# print(classifier)
knnregr.get_params().keys()
# print("K-NN model score:", knnregr.score(X_test, y_test))



# print(classifier)
print("K-NN model score::", knnregr.score(X_test, y_test))

from sklearn import metrics
print('Mean Absolute Error\n:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error\n:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

K-NN model score:: 0.2663937741331053
Mean Absolute Error
: 14.354571753916227
Mean Squared Error
: 1067.0536835626135
Root Mean Squared Error: 32.665787661751146

### Decision Tree Regression

In [ ]:
# Construct pipeline
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeRegressor

In [ ]:
# Spliting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
dt = Pipeline([
     ('normalize', Normalizer()),
     ('regressor' , DecisionTreeRegressor()),
])
dt.steps

dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

# print(classifier)
print("Decision Tree Regression model score:", dt.score(X_test, y_test))

In [ ]:
from sklearn.model_selection import cross_validate

scores = cross_validate(dt, X_train, y_train)
scores

In [ ]:
scores['test_score'].mean()

### Randon Forest Regression

In [ ]:
# Construct pipeline
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.decomposition import PCA

In [ ]:
# Spliting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
# regr = RandomForestRegressor(random_state = 100,bootstrap = True, max_depth=2,max_features=2,min_samples_leaf=3,min_samples_split=5, n_estimators=20)

regr = RandomForestRegressor(random_state = 42, n_estimators=1000, verbose=True)
regrPipe = Pipeline([
     ('scaler', StandardScaler()),
     ('reduce_dim', PCA()),
     ('regressor', regr)
])
regrPipe.fit(X_train, y_train)
ypipe = regrPipe.predict(X_test)

# print(classifier)
print("RandomForest Regression Regression model score:", regrPipe.score(X_test, y_test))

from sklearn import metrics
print('Mean Absolute Error\n:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error\n:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))